body { padding-top:0px; padding-left:50px; padding-right:50px; }

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}

button {
	padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 0 0 16px 0 rgba(100,100,100,0.6);
    /* background-color: #012839; */
    color: white;
}
button:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: gray;
    color: #012839;
}
tr {
	height: 15px;
}
